name: $(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
parameters:
  - name: appName
    type: string
    displayName: "Name of application"
    default: "note01"

  - name: environment
    type: string
    displayName: "Environment"
    default: 'd'
    values:
      - 'd'
      - 't'
      - 'a'
      - 'p'

  - name: location
    type: string
    displayName: "Choose Location"
    default: 'northeurope'
    values:
      - 'northeurope'
      - 'westeurope'

  - name: service_connection
    type: string
    displayName: "Choose the service connection name, it has to be pre-configured in your Azure DevOps environment"
    default: "ARM - TSE AZ Eng01"

trigger: none

variables:
  agent_vmimage: "windows-latest"
  artifact_path: "Infrastructure"
  artifact_name: "Infrastructure"

pool:
  vmImage: $(agent_vmimage)

# Jobs
jobs:
  # Publish Artifacts
  - job: artifacts
    pool:
      vmImage: $(agent_vmimage)
    continueOnError: false
    workspace:
      clean: outputs

    steps:
      - task: PublishPipelineArtifact@1
        displayName: 'Publish Pipeline Artifact'
        inputs:
          targetPath: $(artifact_path)
          artifact: $(artifact_name)

  # Deploy
  - job: deploy
    dependsOn: artifacts
    pool:
      vmImage: $(agent_vmimage)
    continueOnError: false
    workspace:
      clean: outputs

    steps:
    - checkout: none

    - task: DownloadPipelineArtifact@2
      displayName: 'Download Pipeline Artifact'
      inputs:
        artifactName: $(artifact_name)
        targetPath: '$(Pipeline.Workspace)/$(artifact_path)'

    - task: AzurePowerShell@5
      displayName: 'Azure PowerShell script: FilePath'
      enabled: true
      inputs:
        azureSubscription: ${{parameters.service_connection}}
        ScriptPath: '$(Pipeline.Workspace)/$(artifact_name)/main.ps1'
        ScriptArguments: '-ApplicationName ${{parameters.appName}} -Environment ${{parameters.environment}} -Location ${{parameters.location}}'
        azurePowerShellVersion: LatestVersion
