@model notejamsinglepage.Models.PadViewModel

@{
    ViewBag.Title = "New Pad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">
        <div class="thirteen columns content-area">
            <form class="pad">
                <label for="name">Name</label>
                @Html.EditorFor(model => model.Pad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pad, "", new { @class = "text-danger" })
                <input type="submit" value="Save" class="btn-default">
            </form>
        </div>
    </div><!-- container -->

