@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">   
    <div class="thirteen columns content-area">
        <p>Are you sure you want to delete note?</p>
        <a href="#" class="button red">Yes, delete I want to delete this note</a>
        <a href="#">Cancel</a>
    </div>    
</div><!-- container -->