@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">        
    <div class="thirteen columns content-area">
        <p class="hidden-text">Last edited at 10:32</p>
        <div class="note">
            <p>
                The typography of Skeleton is designed to create a strong hierarchy with basic styles. The primary font is the classic Helvetica Neue, but the font stack can be easily changed with just a couple adjustments. Regular paragraphs are set at a 14px base with 21px line height.
            </p>
            <p>
                The typography of Skeleton is designed to create a strong hierarchy with basic styles. The primary font is the classic Helvetica Neue, but the font stack can be easily changed with just a couple adjustments. Regular paragraphs are set at a 14px base with 21px line height.
            </p>
        </div>
        <button type="button">Edit</button>
        <a href="/Home/DeleteNote" class="delete-note">Delete it</a>
    </div>
    
</div><!-- container -->
